# --- Nuxt Framework ---
.nuxt
.output
.data
.nitro
dist
node_modules
*.log

# --- System Files ---
.DS_Store
Thumbs.db
.idea
.vscode

# --- Security (RẤT QUAN TRỌNG) ---
# Chứa Cookie Vietstock và Password Database -> Tuyệt đối không commit
# .env
.env.production
.env.local

# --- Puppeteer ---
# Nếu có download chromium về local thì bỏ qua
.local-chromium

# --- Lock files (Optional) ---
# Nên commit package-lock.json để đồng bộ version, nhưng nếu team quy định khác thì bỏ comment
# package-lock.json
# yarn.lock